main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
   
}
main h1{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .34);
}
form{
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    width: 500px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .34);
    border-radius: 4px;
    padding: 5px 10px;
}
form button{
   
    align-self:flex-end;
}
