*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header{
    height: 20%;
    width: 100%;
    box-shadow: 4px 4px 4px 4px  rgba(0, 0, 0, .34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}
nav{
    gap: 5px;
}
nav a{
    color: black;
}
main{
    height: 70%;
    width: 100%;

}
footer{
    height: 10%;
    border:2px solid red;
    width: 100%;
    box-shadow: -3px 4px 4px 4px  rgba(0, 0, 0, .34);
    display: flex;
    justify-content: center;
    align-items: center;


}